# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
ipynb/.ipynb_checkpoints/
Untitled.ipynb

# Data Files
data/MNIST/processed/*
!data/MNIST/processed/*.pt
data/MNIST/raw/*.gz

bak/

